<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567234255005-as7euo9bdi7cpbjj9c736ol7pb8hr54v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567234255005-as7euo9bdi7cpbjj9c736ol7pb8hr54v</string>
	<key>API_KEY</key>
	<string>AIzaSyDvP27acjIIod1q4oXEEpl8YOaxBybaGi8</string>
	<key>GCM_SENDER_ID</key>
	<string>567234255005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vit.GBShop</string>
	<key>PROJECT_ID</key>
	<string>vit-gbshop</string>
	<key>STORAGE_BUCKET</key>
	<string>vit-gbshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567234255005:ios:86cb3f41e9718cf95d9c74</string>
</dict>
</plist>